html {
    box-sizing:border-box;
}

body {
    display: flex;
    justify-content: center;
}


#container {
    border: 1px solid black;
    background-color: black;
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 300px;
    padding: 40px;

}

#btnCon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    flex-wrap:wrap;
}

#display {
    background-color: greenyellow;
    margin-bottom: 30px;
    height: 100px;
    font-size: 30px;

}

button {
    height: 40px;
    width: 40px;
    font-size: 15px;
}